.goal-list-container {
  margin: 0px;
  padding: 2px;
  direction: rtl;
  /* background-color: #117722; */
}

.goal {
  margin: 2px;
  padding: 2px;
  direction: rtl;
  color: #aa7722;
  border-radius: 5px;
  transition-duration: 0.2s;
  /* background-color: #44bbcc; */
}

.goal:hover {
  background-color: #10101050;
}

.goal:hover .btn-goal-function {
  display: inline-block;
}

button, input {
  /* margin: 2px; */
  padding: 0.2em 1em;
  border-radius: 5px;
  border: 2px solid transparent;
  /* border: 2px solid; */
  font-size: 1.2em;
  font-family: inherit;
  color: #f6f6f6;
  background-color: #4f4f4f00;
  /* background-color: inherit; */
  vertical-align: middle;
  transition-duration: 0.2s;
  /* transition: border-color 0.25s; */
  /* box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2); */
  /* background-color: #aabbccdd; */
}

input[type=checkbox] {
  width: 5%;
  box-sizing: border-box;
  accent-color: #cb1956;
  -webkit-box-sizing:border-box;
  -moz-box-sizing: border-box;
}

input.goal-text {
  width: 80%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button {
  cursor: pointer;
  border: none;
  /* box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2); */
}

button:hover {
  /* border-color: #ff0000; */
  background-color: #0f0f0f69;
}

button:active {
  /* border-color: #396cd8; */
  background-color: #ff0f0f69;
}

button.btn-primary {
  background-color: #0faf0f88;
}

button.btn-goal-function {
  display: none;
  width: 5%;
  padding: 2px;
  margin: 2px;
  vertical-align: middle;
  /* text-align: center; */
  box-sizing: border-box;
  background-color: #0f0f0f00;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

button.btn-goal-function:hover {
  /* border-color: #ff0000; */
  background-color: #0f0f0f69;
}
