p,
div,
img {
	margin: 0px;
	padding: 0px;
}

div {
	box-sizing: border-box;
}

.dummybackgroundpink {
	background-color: lightpink;
}

.application {
	display: flex;
	flex-flow: column;
	height: 100%;
	align-items: stretch;
}

.app-info {
	font-family: Roboto, Arial;
	font-size: 0.6em;
	position: fixed;
	bottom: 0px;
	left: 0px;
	color: gray;
	background-color: rgba(0, 0, 0, 0.0);
	padding: 0px 4px;
}

.header {
	flex: 0 1 auto;
	/* shorthand for following syntax */
	/* flex-grow: 0; */
	/* flex-shrink: 1; */
	/* flex-basis: auto; */

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	font-size: 14px;
	font-weight: 300;
	color: white;
	background-color: darkslateblue;
	padding: 2px 8px 2px 8px;
}

.main {
	flex: 1 1 auto;
	overflow-y: auto;

	display: flex;
	flex-direction: row;
	/* display: grid; */
	/* grid-template-columns: 100px 1fr; */

}

.sidebar {
	flex: 0 1 auto;
	background-color: #cec5d9;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.sidebar-btn:hover {
	/* background-color: darkgray; */
	opacity: 0.7;
}

.sidebar-btn:active {
	/* background-color: lightgray; */
	opacity: 0.8;
}

.sidebar-btn {
	width: 64px;
	border: none;
	border-radius: 0px;
	margin: 4px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 0px;
	background-color: inherit;
	opacity: 0.5;
	outline: none;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-btn.active {
	opacity: 1;
	/* box-shadow: inset 2px 0px 4px 0px gray; */
}

.sidebar-btn-icon {
	display: block;
	width: 32px;
	height: 32px;
	object-fit: cover;
	margin-bottom: 4px;
}

.week-icon {
	width: 24px;
	height: 24px;
	margin-bottom: 8px;
}

.sidebar-btn-text {
	font-size: 0.8em;
	font-weight: 700;
	color: black;
	display: block;
	margin-top: 1px;
}

.pink {
	background-color: lightpink;
	font-size: 2em;
}

.week-section,
.objectives-section {
	flex: 1 1 auto;
	overflow-y: auto;
	/* inside items arrangement */
	display: flex;
	flex-direction: column;
}

.week-header,
.items-list-header {
	flex: 0 1 auto;
	padding: 0px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	/* direction: ltr; */
	padding: 0px 1em;
	font-size: 1em;
	font-weight: 700;
	background-color: #EBEDEF;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	z-index: 4;
}

.items-list-header {
	padding: 8px 1em;
}

.week-header-middle-section {
	/* border: 1px solid green; */
	margin: 0px;
	padding: 0px;
}

.week-header-dates {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* border: 1px solid blue; */
	direction: ltr;
}

.week-header-date {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.week-header-date-weekday {
	flex: 1 1 auto;
	color: gray;
	font-size: 0.7em;
	font-weight: 600;
	padding-top: 2px;
}

.week-header-date-weekday-today {
	color: rgb(26, 115, 232) !important;
	transition: background-color, color 0.2s 0s;
}


.week-header-date-day-today {
	color: white;
	background-color: rgb(26, 115, 232) !important;
	transition: background-color, color 0.2s 0s;
}

.week-header-date-day {
	font-size: 1.4em;
	font-weight: 400;
	flex: 1 1 auto;
	width: 48px;
	height: 48px;
	margin: 0px 4px;
	padding: 8px;
	/* border: 1px solid rgba(0, 0, 0, 0.15); */
	background-color: rgba(0, 0, 0, 0.03);
	border-radius: 24px;
	box-sizing: border-box;
	text-align: center;
	/* justify-items: center; */
	cursor: default;
	transition: background-color 0.2s 0s;
}

.week-header-top-info,
.week-header-bottom-info {
	color: gray;
	font-size: 0.75em;
	font-weight: 700;
	text-align: left;
	cursor: default;
	padding: 0px 10px;
}

.items-list {
	direction: rtl;
	flex: 1 1 auto;
	overflow-y: auto;
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 128px;
	/* display: flex; */
	/* flex-direction: column; */
}

.item {
	display: block;
	box-sizing: border-box;
	border: 1px solid white;
	border-right: 8px solid white;
	padding: 0px;
}

.item:hover {
	background-color: aliceblue;
}

.item-selected {
	box-sizing: border-box;
	border: 1px solid darkorchid;
	border-right: 8px solid darkorchid;
	background-color: aliceblue;
}

.item-input {
	box-sizing: content-box;
	/* background: red; */
}

.objective-tag {
	position: relative;
}

.objective-type-selection {
	width: 100px;
	height: 100px;
	background-color: blue;
	position: absolute;
	top: 32px;
	left: 0px;
	z-index: 2;
	transition: all 0.5s;
}

.objective-tag-btn {
	padding: 2px 8px 0px 8px;
	box-sizing: border-box;
	border-radius: 20px;
	cursor: pointer;
	/* color: white; */
	/* background-color: #364f75; */
}

.objective-tag-btn:hover {
	outline: 2px solid rgba(0, 0, 0, 0.2);
}

.objective-tag-btn:focus {
	outline: 2px solid rgba(0, 0, 0, 0.2);
}


.objective-month-tag {
	color: #222222;
	border: 1.3px solid #bbbbbb;
}

.objective-season-tag {
	/* color: #a68f15; */
	color: #222222;
	background-color: #eeddee;
	border: 1.3px solid #bbbbbb;
}

.objective-year-tag {
	/* color: #718399; */
	border: 1.3px solid #888888;
	color: #222222;
	background-color: #d1e1f1;
}

.objective-popover {
	display: flex;
	flex-direction: column;
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
	width: 300px;
	padding: 5px;
}

.objective-popover-section {
	/* border: 1px dashed red; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 8px;
}

.objective-popover-tag {
	flex: 1 0;
	margin: 2px;
}

.objective-popover-tag-selected {
	/* outline: 2px solid rgba(0, 0, 0, 0.2); */
	border: 2px solid black;
}

.flex-break-three-element {
	flex: 1 0 30% !important;
}
