p,
div,
img {
	margin: 0px;
	padding: 0px;
}

div {
	box-sizing: border-box;
}

.dummybackgroundpink {
	background-color: lightpink;
}

.application {
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
	align-items: stretch;
}

.app-info {
	font-family: Roboto, Arial;
	font-size: 0.6em;
	position: fixed;
	bottom: 0px;
	left: 0px;
	color: gray;
	background-color: rgba(0, 0, 0, 0.0);
	padding: 0px 4px;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: center;

	flex: 0 1 auto;
	/* shorthand for following syntax */
	/* flex-grow: 0; */
	/* flex-shrink: 1; */
	/* flex-basis: auto; */
	font-size: 16px;
	font-weight: 400;
	color: white;
	background-color: darkslateblue;
	padding: 2px 8px 2px 8px;
}

.main {
	flex: 1 1 auto;
	overflow: auto;

	display: flex;
	flex-direction: row;
	/* display: grid; */
	/* grid-template-columns: 100px 1fr; */

}

.sidebar {
	flex: 0 1 auto;
	background-color: #cec5d9;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 8px 0px;
}

.settings-navbar-spacer,
.sidebar-spacer {
	flex: 1 0 auto;
	/* border: 1px dashed red; */
}

.sidebar-btn:hover {
	/* background-color: darkgray; */
	opacity: 0.7;
}

.sidebar-btn:active {
	/* background-color: lightgray; */
	opacity: 0.8;
}

.sidebar-btn {
	flex: 0 1 auto;
	min-width: 64px;
	border: none;
	border-radius: 0px;
	margin: 8px 4px;
	padding: 0px;
	background-color: inherit;
	opacity: 0.5;
	outline: none;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.sidebar-btn.active {
	opacity: 1;
	/* box-shadow: inset 2px 0px 4px 0px gray; */
}

.sidebar-btn-icon {
	display: block;
	width: 32px;
	height: 32px;
	object-fit: cover;
	margin-bottom: 4px;
}

.week-icon {
	width: 24px;
	height: 24px;
	margin-bottom: 8px;
}

.sidebar-btn-text {
	font-size: 0.8em;
	font-weight: 700;
	color: black;
	display: block;
	margin-top: 1px;
}

.pink {
	background-color: lightpink;
	font-size: 2em;
}

.new-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: rgba(246, 247, 248, 0.2);
	border: 1px solid rgba(246, 247, 248);
	box-shadow: 0px -1px 4px 0px rgba(0, 0, 0, 0.2);
	padding: 8px 0px;
}

.new-item-kind-button-group {
	margin: 0px 8px;
}

.content-section {
	flex: 1 1 auto;
	overflow: auto;
	/* inside items arrangement */
	display: flex;
	flex-direction: column;
	/* border: 1px solid green; */
}

.add-new-btn {
	position: fixed;
	width: 48px;
	height: 48px;
	border-radius: 24px;
	bottom: 16px;
	right: 16px;
	z-index: 222;
	color: white;
	border: none;
	background-color: rgb(26, 115, 232);
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.add-new-btn:hover {
	background-color: #1976d2;
}

.week-header,
.items-list-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	flex: 0 1 auto;
	padding: 0px;
	/* direction: ltr; */
	padding: 0px 1em;
	font-size: 1em;
	font-weight: 700;
	background-color: #e5e7e9;
	box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
	z-index: 4;
}

.items-list-header {
	padding: 8px 1em;
}

.week-header-middle-section {
	/* border: 1px solid green; */
	margin: 0px;
	padding: 0px;
	cursor: default;
}

.week-header-dates {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* border: 1px solid blue; */
	direction: ltr;
}

.week-header-date {
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s;
}

.week-header-date-weekday {
	flex: 1 1 auto;
	color: rgba(0, 0, 0, 0.4);
	font-size: 0.7em;
	font-weight: 600;
	padding-top: 2px;
	transition: all 0.3s;
}

.week-header-date-weekday-today {
	color: rgb(26, 115, 232) !important;
	transition: all 0.3s;
}

.week-header-date-day {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	flex: 1 1 auto;
	width: 48px;
	height: 48px;
	margin: 0px 4px;
	padding-top: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	/* background-color: rgba(0, 0, 0, 0.02); */
	border-radius: 24px;
	box-sizing: border-box;
	text-align: center;
	transition: all 0.3s;
}

.week-header-date-day.week-header-date-day-today {
	background-color: rgb(26, 115, 232);
	transition: all 0.3s;
}

.week-header-main-date-day {
	flex: 0 1 auto;
	font-size: 1.1em;
	line-height: 120%;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.7);
	/* color: black; */
	/* border: 1px dashed red; */
	transition: all 0.3s;
}

.week-header-date-day-today .week-header-aux-date-day,
.week-header-date-day-today .week-header-main-date-day {
	color: whitesmoke;
	transition: all 0.3s;
}

.week-header-aux-date-day {
	flex: 0 1 auto;
	font-size: 0.7em;
	line-height: 100%;
	font-weight: 200;
	color: gray;
	transition: all 0.3s;
	/* border: 1px dashed black; */
}


.week-header-info-top,
.week-header-info-bottom {
	display: flex;
	justify-content: space-between;
	color: rgba(0, 0, 0, 0.4);
	padding: 0px 10px;
}

.week-header-main-info {
	font-size: 0.75em;
	font-weight: 700;
	text-align: left;
}

.week-header-aux-info {
	font-size: 0.75em;
	font-weight: 400;
	text-align: left;
}

.items-list {
	direction: rtl;
	flex: 1 1 auto;
	overflow: auto;
	padding: 0px;
	padding-top: 8px;
	padding-bottom: 128px;
	padding-left: 4px;
	padding-right: 4px;
	/* background-color: red; */
	/* display: flex; */
	/* flex-direction: column; */
}

.item {
	display: block;
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 8px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: 8px solid rgba(0, 0, 0, 0);
	padding: 0px;
}

.item:hover {
	background-color: whitesmoke;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.item-selected {
	box-sizing: border-box;
	border: 1px solid darkorchid;
	border-right: 8px solid darkorchid;
	background-color: whitesmoke;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}

.item .item-menu-btn {
	opacity: 0;
}

.item:hover .item-menu-btn,
.item-selected .item-menu-btn {
	opacity: 1;
}

.item-input {
	box-sizing: content-box;
	/* background: red; */
}

.objective-tag {
	position: relative;
}

.objective-type-selection {
	width: 100px;
	height: 100px;
	background-color: blue;
	position: absolute;
	top: 32px;
	left: 0px;
	z-index: 2;
	transition: all 0.5s;
}

.objective-tag-btn {
	padding: 2px 8px 0px 8px;
	box-sizing: border-box;
	border-radius: 20px;
	cursor: pointer;
	margin: 0px 4px;
	/* color: white; */
	/* background-color: #364f75; */
}

.objective-tag-btn:hover {
	outline: 1px solid purple
}

.objective-tag-btn:focus {
	outline: 2px solid rgba(0, 0, 0, 0.2);
}


.objective-month-tag {
	color: #222222;
	border: 1.3px solid #bbbbbb;

	color: black;
	background-color: rgba(255, 240, 245, 0.5);
	border: 1px solid rgba(128, 0, 128, 0.2);
	box-shadow: inset 0px 0px 2px 0px rgba(128, 0, 128, 0.2);
}

/* .objective-season-tag span, */
/* .objective-year-tag span { */
/* 	font-weight: 700; */
/* } */

.objective-season-tag {
	/* color: #a68f15; */
	color: #222222;
	background-color: #eeddee;
	border: 1.3px solid #bbbbbb;

	color: black;
	background-color: rgb(255, 240, 245);
	border: 1px solid rgba(128, 0, 128, 0.2);
	box-shadow: inset 0px 0px 2px 0px rgba(128, 0, 128, 0.2);
}

.objective-year-tag {
	/* color: #718399; */
	border: 1.3px solid #888888;
	color: #222222;
	background-color: #d1e1f1;

	color: black;
	background-color: lavenderblush;
	border: 1px solid rgba(128, 0, 128, 0.2);
	box-shadow: inset 0px 0px 2px 0px rgba(128, 0, 128, 0.2);
}

.objective-popover {
	display: flex;
	flex-direction: column;
	/* border: 1px solid rgba(0, 0, 0, 0.2); */
	width: 300px;
	padding: 5px;
}

.objective-popover-section {
	/* border: 1px dashed red; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2px 8px;
}

.objective-popover-tag {
	flex: 1 1 40%;
	margin: 2px;
	/* border: 1px dashed blue; */
}

.objective-popover-tag-selected {
	/* outline: 2px solid rgba(0, 0, 0, 0.2); */
	border: 1px solid indigo;
	background-color: rgb(128, 0, 128, 0.2);
}

/* .settings-navbar-title, */
.objective-popover-calendar-title {
	font-family: Roboto, Arial;
	font-size: 0.8em;
	color: white;
	background-color: lightslategray;
	text-align: center;
	padding: 2px;
	/* border: 1px solid red; */
}

/* .settings-navbar-title { */
/* 	color: lightslategray; */
/* 	background-color: #e5e7e9; */
/* 	; */
/* } */

.flex-break-three-element {
	flex: 1 0 30% !important;
}

.settings-section {
	flex: 1 1 auto;
	overflow: auto;

	display: grid;
	grid-template-columns: 150px 1fr;
}

.settings-navbar {
	/* flex: 1 0 auto; */
	background-color: #e5e7e9;
	/* border: 1px dashed blue; */
	padding: 8px 8px;
	display: flex;
	flex-direction: column;
}

.settings-content {
	/* flex: 4 0 auto; */
	min-width: 350px;
	background-color: whitesmoke;
	overflow: auto;
	/* border: 1px dashed red; */
	padding: 1em;
}

.settings-content-about {
	padding: 1em;
}

.form-control-group {
	display: block;
	max-width: 350px;
}

.form-control {
	display: block !important;
	margin: 1 !important;
	min-width: 200px !important;
}

.settings-navbar-btn {
	font-size: 1em;
	border: none;
	margin: 8px;
	border-radius: 4px;
	padding: 4px 8px;
	background-color: rgba(0, 0, 0, 0.1);
}

.settings-navbar-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.settings-navbar-btn:active {
	background-color: rgba(0, 0, 0, 0.1);
}
