.week-container {
  margin: 6px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #222222;
}

.week-title {
  font-size: 1.5em
  /* color: #4400bb; */
  /* background-color: #4400bb; */
}
