@font-face {
  font-family: "B Nazanin";
  font-style: normal;
  font-weight: normal;
  src: local('B Nazanin'), url(./assets/fonts/B-NAZANIN.TTF) format('truetype');
}

body {
  /* display: block; */
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: "B Nazanin", Helvetica, Arial, sans-serif;
  font-size: 2vh;
  /* line-height: 20px; */
  /* font-weight: 400; */

  color: #f6f6f6;
  background-color: #333333;
  padding: 0px;
  margin: 0px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  /* todo: */
}

@media (prefers-color-scheme: light) {
  /* todo: */
}
