@font-face {
  font-family: "B Nazanin";
  font-style: normal;
  font-weight: normal;
  src: local('B Nazanin'), url(./assets/fonts/B Nazanin.ttf) format('truetype');
}

body {
    display: block;
    margin: 0px;
}

:root {
  font-family: "B Nazanin", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;
  padding: 0px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0px;
  padding-top: 0.5vh;
  padding-right: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* text-align: center; */
  /* background-color: #aaaaaa; */
}

.row {
  display: flex;
  justify-content: center;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 1.2em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #aaaaaa;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  margin: 3px;
  display: flex;
  width: 100%;
  /* outline: none; */
}

button {
  cursor: pointer;
}
button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #f6f6f6;
    background-color: #0f0f0f88;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}
